@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(246, 242, 242);
  color: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
  width: 100vw;
}
